<% provide(:title, "Home") %>
<!--Mask-->
<div id = 'homeview' class="view">
    <div class="banner-center">
        <div class = "titleCaption">
            <ul>
                <li>
                    <div class = "positionTopThree">                   
                        <div class = "cHandle">
                           &nbsp;
                        </div>
                    </div>
                    <div class = "positionTopTwo">
                        <div class = "mini">
                            &nbsp;
                        </div>
                    </div>
                    <div class = "positionTop" >
                        <div class = "handle">
                            &nbsp;
                        </div>
                    </div>
                    <h1>
                        <div class = "leftTopLine">
                            <div class = 'allCap'>
                                Suitcase <span class = "secondCap">Clinic</span> 
                            </div>
                            <div class = 'rightTopCorner'>
                            </div>
                            <div class = 'leftTopCorner'>
                            </div>
                            <div class = 'rightBotCorner'>
                            </div>
                            <div class = 'leftBotCorner'>
                            </div>
                        </div>
                        <div class= "rightBotLine"></div>
                    </h1>
                </li>
                <li>
                    <p>Changing how Berkeley approaches homelessness</p>
                </li>
                <li>
    				<%= link_to "Get Involved", home_path, class: "btn btn-primary btn-lg "%> 
                    <%= link_to "Apply Now", join_us_path, class: "btn btn-primary btn-lg apply"%> 
                </li>
            </ul>
            <%= link_to "", root_path(:anchor => "mission"), class: "fa fa-angle-down page-scroll" %>
        </div>
    </div>
</div>
<!--/.Mask-->
</div>
<!-- Mission Section-->
<div id="mission" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>What We Do</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon"><i class="fa fa-medkit fa-4x" aria-hidden="true"></i></div>
                    <h4>Service Provision</h4>
                    <p>The Suitcase Clinic provides caseworking and professional services ranging from </p>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon"><i class="fa fa-pencil fa-4x" aria-hidden="true"></i></div>
                    <h4>Education</h4>
                    <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon"><i class="fa fa-users fa-4x" aria-hidden="true"></i></div>
                    <h4> Community Building </h4>
                    <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                </div>
            </div>
             <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon"><i class="fa fa-hand-rock-o fa-4x" aria-hidden="true"></i></div>
                    <h4>Advocacy</h4>
                    <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ About Section -->
    <div id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="left-text">
                        <h4>About Us</h4>
                        <p>The Suitcase Clinic is a humanitarian UC Berkeley student organization and volunteer community offering free health and social services to underserved populations since 1989. 
                        <br></br> Structured around the principles of public health, social welfare, community activism and empathy, the Suitcase Clinic strives to educate students, promote health care access, engage in community organization, and support public policy efforts that address homelessness and the needs of the underserved in the local community.</p>
                        <ul>
                            <li>
                                <%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg"%> 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class = 'image'>
                        <%= image_tag('tri-suitcasers.png', :class => "style_image" )%> 
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Clinics Section-->
<div id="clinics" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Our Clinics</h4>
                    <div class="line-dec"></div>
                </div>
                <p> The Suitcase Clinic currently operates four clinics: 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="clinic-card">
                    <%= link_to general_path, :action => 'go' do %>
                        <%= image_tag('gen_clinic2017Fall.jpg', :class => "clinic_image" )%>
                        <div class = "clinic_text">
                            <h4>General Clinic</h4>
                            <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="clinic-card">
                    <%= link_to youthLGBTQ_path, :action => 'go' do %>
                        <%= image_tag('youth_clinic2017Fall.jpg', :class => "clinic_image" )%>
                        <div class = "clinic_text">
                            <h4>Youth LGBTQ+ Clinic</h4>
                            <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                        </div>
                    <% end %>
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="clinic-card">
                    <%= link_to womxn_path, :action => 'go' do %>
                        <%= image_tag('fall2017Officers copy.jpg', :class => "clinic_image" )%>
                        <div class = "clinic_text">
                            <h4> Womxn's Clinic </h4>
                            <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                        </div>
                    <% end %>
                </div>
            </div>
             <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="clinic-card">
                    <%= link_to beth_el_path, :action => 'go' do %>
                        <%= image_tag('gen_clinic2017Fall.jpg', :class => "clinic_image" )%>
                        <div class = "clinic_text">
                            <h4>Beth El Clinic</h4>
                            <p>Biodiesel schltz suculents phone cliche ramps snackwave coloring book tumeric poke, typewriter.</p>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
