<% provide(:title, "Home") %>
<!--Mask-->
<div class="view">
    <div id="banner-center">
        <div class = "titleCaption">
            <ul>
                <li>
                    <div class = "positionTopThree">                   
                        <div class = "cHandle">
                           &nbsp;
                        </div>
                    </div>
                    <div class = "positionTopTwo">
                        <div class = "mini">
                            &nbsp;
                        </div>
                    </div>
                    <div class = "positionTop" >
                        <div class = "handle">
                            &nbsp;
                        </div>
                    </div>
                    <h1>
                        <div class = "leftTopLine">
                            <div class = 'allCap'>
                                Suitcase <span class = "secondCap">Clinic</span> 
                            </div>
                            <div class = 'rightTopCorner'>
                            </div>
                            <div class = 'leftTopCorner'>
                            </div>
                            <div class = 'rightBotCorner'>
                            </div>
                            <div class = 'leftBotCorner'>
                            </div>
                        </div>
                        <div class= "rightBotLine"></div>
                    </h1>
                </li>
                <li>
                    <p>Changing how Berkeley approaches homelessness</p>
                </li>
                <li>
    				<%= link_to "Get Involved", home_path, class: "btn btn-primary btn-lg "%> 
                </li>
            </ul>
            <%= link_to "", root_path(:anchor => "about"), class: "fa fa-angle-down page-scroll" %>
        </div>
    </div>
</div>
<!--/.Mask-->

<!-- Main container-->
<div class="container">
    <!--Section: About-->
    <section id="about">
        <p> The Suitcase Clinic is a humanitarian student organization and volunteer community offering free health and social services to underserved populations since 1989. Structured around the principles of public health, social welfare, community activism and empathy, the Suitcase Clinic currently operates three weekly multi-service drop-in centers in the city Berkeley: the General Clinic, the Women’s Clinic and the Youth Clinic. In addition to providing services, the Suitcase Clinic strives to educate students, promote health care access, engage in community organization, and support public policy efforts that address homelessness and the needs of the underserved in the local community.</p>        
        <%= link_to "Learn More", about_path, class: "btn btn-primary btn-lg " %>
    </section>
    <!--Section: About-->

    <!--Section: Our Clinics-->
    <section id="best-features">
        <div class="divider-new">
            <h2 class="h2-responsive wow fadeIn">Our Clinics</h2>
        </div>
            <h4> <strong>The Suitcase Clinic operates four clinics:  </strong></h4>
        <div class="row">

            <!--First columnn-->
            <div class="col-lg-3">
                <!--Card-->
                <div class="card wow fadeIn">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <%=image_tag("gen_clinic.jpg", class: "img-fluid")%>
                        <%=link_to beth_el_path do %>
                            <div class="mask"></div>
                        <% end %>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Beth El Clinic</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->

            <!--Second columnn-->
            <div class="col-lg-3">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.2s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <%=image_tag("gen_clinic.jpg", class: "img-fluid")%>
                        <%=link_to general_path do %>
                            <div class="mask"></div>
                        <% end %>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">General Clinic</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Second columnn-->

            <!--Third columnn-->
            <div class="col-lg-3">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.4s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <%=image_tag("women_clinic.jpg", class: "img-fluid")%>
                        <%=link_to women_path do %>
                            <div class="mask"></div>
                        <% end %>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Womxn's Clinic</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--Third columnn-->

            <!--First columnn-->
            <div class="col-lg-3">
                <!--Card-->
                <div class="card wow fadeIn" data-wow-delay="0.6s">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <%=image_tag("youth_clinic.jpg", class: "img-fluid")%>
                        <%=link_to youth_path do %>
                            <div class="mask"></div>
                        <% end %>
                    </div>                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-block text-center">
                        <!--Title-->
                        <h4 class="card-title">Youth/LGBTQ+ Clinic</h4>
                        <hr>
                        <!--Text-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident fuga animi architecto dolores dicta cum quo velit.</p>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--First columnn-->
        </div>

    </section>
    <!--/Section: Get Involved-->

    <div class="divider-new">
        <h2 class="h2-responsive wow fadeIn">Get Involved</h2>
    </div>
        BLAH BLAH
        <p> Blach </p>
</div>
<!--/ Main container-->
