<% provide(:title, "Home") %>

<div class = "row"> <!-- Banner Row 2 -->
	<div class="center jumbotron">
		<div class = "homeBanner"> 
			<div class = "inner">
				<h1> Changing how Berkeley views homelessness</h1>
				<div class = "button">
					<a href="join_us" class = "button join">Get Involved</a> 
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 4 -->
	<div class = "row4">
		<div class = "wrapper">
				<%= image_tag("suitcase_logo.png", :alt => "suitcase_logo") %>	 		
				<h1> Our Mission</h1>
				<p> The Suitcase Clinic is a humanitarian student organization and volunteer community offering free health and social services to underserved populations since 1989. Structured around the principles of public health, social welfare, community activism and empathy, the Suitcase Clinic currently operates three weekly multi-service drop-in centers in the city Berkeley: the General Clinic, the Women's Clinic and the Youth Clinic. In addition to providing services, the Suitcase Clinic strives to educate students, promote health care access, engage in community organization, and support public policy efforts that address homelessness and the needs of the underserved in the local community. </p>
		</div>
		<div class = "button">
			<a href="about" class = "button join">Learn More</a> 
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 5 -->
	<div class = "row5">
		<div class = "wrapper">
			<h1> Stay Updated</h1>
			<div class = "col-4">
				<i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i> 
				<h2> Announcements</h2>
				<p> Stay up to date with the latest Suitcase News! </p>
				<div class = "button">
					<a href="news" class = "button join">Learn More</a> 
				</div>
			</div>
			<div class = "col-4">
				<i class="fa fa-suitcase fa-5x" aria-hidden="true"></i>
				<h2> Services</h2>
				<p> Find out about this week's services! </p>
				<div class = "button">
					<a href="services" class = "button join">Learn More</a> 
				</div>
			</div>
			<div class = "col-4">
				<i class="fa fa-rss-square fa-5x" aria-hidden="true"></i>
				<h2> Blog </h2>
				<p> Check out our brand new blog! </p>
				<div class = "button">
					<a href="services" class = "button join">Learn More</a> 
				</div>
			</div>			
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 5 -->
	<div class = "infoClinics">
		<div class = "wrapper-2">
			<div class = "center-section">
				<h1> Our Clinics </h1>
				<h2> The Suitcase Clinic operates 4 clinics:</h2>
			</div>
		</div>
	</div>
</div>
<div class = "row"> <!-- Row 6 -->
	<div class = "clinics_section">
		<div class = "clinics_container">
		 	<div class = "col-6"> 
		 		<div class = "clinic">
					<%= link_to image_tag("youth_clinic.jpg", alt: "beth_el_pic"),
            		'http://rubyonrails.org/' %>
					<h3>Beth-EL Clinic</h3>
					<p> Beth-El clinic is a suitcaseclinic blah blah. Short Description on what Beth-El Clinic is along with the services it provides. It can be 3-4 sentences. For now this is a placeholder description blah blah blah oooh yeeeeeee boiiii </p>
					<div class = "button">
						<a href="#" class = "button join">Learn More</a> 
					</div>
				</div>

		 	</div>
		 	<div class = "col-6">
		 		<div class = "clinic">
					<%= link_to image_tag("gen_clinic.jpg", alt: "general_pic"),
            		'http://rubyonrails.org/' %>
		 			<h3>General Clinic</h3>
		 			<p> The General Clinic is the oldest of the Suitcase Clinic’s three drop-in centers targeting low-income and homeless populations in Berkeley, receiving up to fifty clients per night on average. For over twenty years, the General Clinic has been a safe and successful place for homeless individuals to receive medical or other professional services, to pick up hygiene supplies, to talk to a lawyer, or just to hang out with Berkeley students.</p>
		 			<div class = "button">
						<a href="#" class = "button join">Learn More</a> 
					</div>
		 		</div>
		 	</div>
		 </div>
	</div>
</div>
<div class = "row"> <!-- Row 7 -->
 	<div class = "clinics_section">
 		<div class = "clinics_container">
	 		<div class = "col-6"> 
	 			<div class = "clinic">
					<%= link_to image_tag("women_clinic.jpg", alt: "women_pic"),
            		'http://rubyonrails.org/' %>
		 			<h3>Women's Clinic</h3>				
		 			<p> The idea for the Women’s Clinic began in fall of 1996. During that time, there was steady discussion of specifically reaching out to women and children, who normally comprised a minority at the regular Tuesday night General Clinic. The reason for this most likely stems from the fact that the General Clinic is open during the evening, and is therefore unsafe or inconvenient for that particular population to utilize. </p>
					<div class = "button">
						<a href="#" class = "button join">Learn More</a> 
					</div>
				</div>
			</div>
		 	<div class = "col-6">
		 		<div class = "clinic">
					<%= link_to image_tag("youth_clinic.jpg", alt: "youth_pic"),
            		'http://rubyonrails.org/' %>
		 			<h3>Youth Clinic</h3>		 			
		 			<p> The Youth Clinic strives to provide culturally appropriate and youth accessible services to homeless and street-identified youth which simultaneously increases their opportunities for positive social and physical well-being.</p>
		 			<div class = "button">
						<a href="#" class = "button join">Learn More</a> 
					</div>
		 		</div>
		 	</div>
		 </div>
 	</div>
</div>			