<!--Navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
          <strong><%= link_to image_tag("suitcase_logo.png", class: "navbar-logo"), home_path %><%= link_to "Clinic", home_path, class: "navbar-brand" %></strong> 
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item active">
                  <%= link_to "Home", home_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Services", services_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "News", news_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Blog", 'https://medium.com/', class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Donate",'#', class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Contact", '#', class: "nav-link" %>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--/.Navbar-->