<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "SuitcaseWebsite", home_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><%= link_to image_tag("logoHeader.png"),home_path %>
        <li><%= link_to "Home", home_path %></li>
		<li><%= link_to "About Us", about_path %></li>
		<li><%= link_to "Services", services_path %></li>
		<li><%= link_to "Announcements", news_path %></li>
		<li><%= link_to "Blog", blogs_path %></li>
        <li><%= link_to "Get Involved",  "#" %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>



<!-- (Header) Row 1  <div class = "row"> 
	<header>
		<ul id = "logo">
			<li> <a href = "home.html"></a> </li>
			<li> <%= image_tag("Suitcase-logo.jpg", :alt => "suitcase-logo") %></li>
			<li> <a href = "applyPage.html" style="text-decoration:none;">Join Us</a></li>
			<li> <a href = "donate.html" style="text-decoration:none;">Donate</a></li>						
			<li> <a href = "blog.html" style="text-decoration:none;">Blog</a></li>
			<li> <a href = "news.html" style="text-decoration:none;">News</a></li>
			<li> <a href = "services.html" style="text-decoration:none;">Services</a></li>
			<li> <a href = "about.html.erb" style="text-decoration:none;">About Us</a></li>
			<li> <a href = "home.html" style="text-decoration:none;">Home</a></li>
		</ul>								
	</header>
</div>
-->